nav {
    background-color: #F4694C;
    /* overflow: hidden; */
    /* display: grid;
    grid-template-columns: 10% 35% 30% 20%;
    grid-column-gap:  2%; */
    display: flex;
    justify-content: space-between;
    /* gap: 30%; */
    padding: 0 5%;
    align-items: center;
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
}

.nav_page {
    /* float: left; */
    /* display: block; */
    color: white;
    /* text-align: center; */
    /* padding: 14px 16px; */
    text-decoration: none;
    font-weight: bolder;

}

.nav_page:hover {
    text-decoration: underline white ;
}
.nav_image{
    height: 90px;
    width:auto;
    /* margin-left: 30%; */
}


.nav_container{
    /* padding-left: 100px; */
    display: flex;
    list-style: none;
    gap: 10%;
    width: 100%;
}

#pages_container{
    display: flex;
    align-items: center;
    gap: 10%;
    /* float: right; */
    width: 50%;

}
#nav_buttons{
    /* margin-right: 3%; */
    display: flex;
}
.nav_button:hover{
    background-color: #ca563f;
}
.nav_button{
    background-color: #F4694C;
    color: white;
    padding: 8px 10px;
    width: 100px;
    border: 1px solid white;
    border-radius: 5px;
    margin: 5px;
}


/* footer style */

footer{
    margin: 0;
    height: 30vh;
    background-color: white;
    display: flex;
    flex-direction:column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flogo{
    width: 100px;
    height: auto;
}
.ficons{
    margin-left: 60px;
}
.ficons a{
    height: 30px;
    width: 30px;
}
.ficons img{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 8px;
}
.felm{
    justify-content: center;
    align-items: center;
    padding: 50px;
    margin: 10px 50px;
}
.felm1{
    line-height: 50px;

}
.flocation{
    text-align: center;
}
.fline{
    color: gray;
    text-decoration: none;
}
.copyright{
    width: 100%;
    text-align: center;
    color: white;
    background-color: #F4694C;
    margin: 0;
    padding: 10px;
}
.fb1{
    display: flex;
    flex-direction: row;
}
.fbutton{
    background-color: #F4694C;
    color: white ;
    font-weight: bold;
    padding: 15px;
    border: 0;
    margin-left: 0;
}
.fmail{
    padding: 14px;
    margin-top: 20px;
    margin-right: 0;
    border:1px solid #F4694C;
    border-right: 0;
}
.flogo{
    margin: 15px 25%;
    background-color: black;
}