body{
    /* height: 5000px  ; */
    font-family: Roboto;
}
.div1{
    width: 100%;
    height: auto;
    object-fit:fill;
    background-image: url("./palm-trees-at-night-258154 1.png");
    background-size: cover;
    height: 800px;
    display: flex;
    flex-direction: row;
    margin-bottom: 60px;
}

.div1-flex-1{   

    flex: 1fr;
    color: white;
    font-family: Roboto;
    font-weight: 500;
    font-size: 80px;
    padding-top: 100px;
    padding-left: 50px;
}

.div2{
    display: flex;
    justify-content:center;
    margin-left: 100px;
    /* margin-top: 3%; */
    background-color: #f4684c31;
    margin-left: 0;
    padding: 8% 10%;
}

.div2-image2-div{
    width: 700px;
    margin-left: 10px;
 
}

.div2-image1-div{   
    width: 700px;
   
    
    
    
}

.site-desc-div{
    flex: 1fr;
    font-family: Roboto;
    font-size: 18px;
    color: black;
    padding-left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.div2-image1{
    width: 100%;
    height: 100%;
}
.div2-image2{
    width: 100%;
    height: 90%;
}

.div3{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4694C;
    color: white;
    margin-top: 50px;
    height: 100px;
}

.div4{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;

}

.offer-cell{
    height: 400px;
    border-radius: 30px;
    border: none;
    width: 270px;
    background-color: rgb(243, 247, 250);
}

.offer-image{
    height: 250px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.offer-cell-details{
    padding-left: 10px;
    
}

.offer-cell-details-1{
    padding-top: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

.offer-cell-details-2{
    display: flex;
}

.offer-cell-details-3{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    
}

.offer-cell-details-3-button{
    width: 100px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
    background-color: #F4694C;
    font-family: Roboto;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 40px;
    font-weight: 500;
    margin-right: 10px;
   

}

.point{
    background-color: rgb(58, 54, 54);
    border-radius: 50%;
    width: 20px;
}

.div5js{
    display: flex; justify-content: center; margin-top: 150px;
}


.nouveauteetcommentaires{
    margin-top: 300px;
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.upper-part-commentary{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.commmentary-profile-photo{
    border-radius: 50%;
    width: 50px;
}

.commmentary-cell{
    width: 400px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px  5px   rgb(238, 238, 238);
    margin-top: 80px;
}

.lower-part-commentary{
    font-family: Roboto;
    font-style: italic;
   
}

.commmentary-review-stars{
    color: orange;
    font-family: Roboto;
}

.commentator-details{
    display: flex;
    align-items: center;
    
}

.commentator-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.div6{
    display: flex; 
    justify-content: space-between;
    margin-left: 100px ;
    margin-right:100px; 
    margin-top: 80px;
    flex-wrap: wrap;
}

.viewallreviews{
    color: orange;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}


.choose-lorem-text-div{
    font-size: 13px;
    width: 500px;
}
.choose-lorem-title-div{
    font-size: 16px;
    font-weight: 500;
}

.choose-flexbox{
    display: flex;
    align-items: center;
    padding-top: 50px;
}

.choose-make-go{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.traveler-text-div-title{
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 40px;
    width: 400px;
}

.traveler-flexbox{
    display: flex;

}

.traveler-div-title-div{
    color: #F4694C;
    font-size: 20px;
}

.traveler-div{
    margin: 100px 100px;
    
}

.travaler-pic{
    width: 75%;
    height: 75%;
    border-radius: 25%;
    
}

.traveler-pic-div{
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose-icon{
    width: 50px;
    height: 50px;
}

.choose-icon-div{
    padding: 5px 20px;
}




.choose-make-go-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.video iframe{
    width: 80%;
    height: 80vh;
    margin: 3% 10% ;
}