body{
    background-image: url(téléchargement.jpg);
    background-size:cover;
    background-repeat: no-repeat;
}
.paiement_page{
    display: flex;
    padding: 5%;
    width: 80vw;
    /* background-color: rgba(255, 255, 255, 0.26); */
    /* backdrop-filter: blur(5px); */
    margin:4%;
    /* justify-content: space-between; */
    
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px 0 0 30px;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.459);
    background-color: white;
    padding: 5%;
    width: 60%;
    
}
.left img{
    width: 400px;
    height: auto;
    
}

.right{
    width: 40%;
    background-color: rgba(255, 255, 255, 0.555);
    backdrop-filter: blur(15px);
    padding: 7%;
    border-radius: 0 30px 30px 0;
    box-shadow: 4px 8px 12px rgba(0, 0, 0, 0.459);
    line-height: 25px;
}
.pay_btn{
    background-color: orangered;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid white;
    color: white;
    font-weight: bolder;
    margin-left: 10%;
}
.total{
    display: flex;
    justify-content: space-between;
    margin-right: 10%;
}
.inputofpayement{
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
}
label{
    font-family:Arial, Helvetica, sans-serif;
}