@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Madimi+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.home-header{
    height: 100vh;
    width: 100%;
    background-image: url(homewallpaper.png);
    backdrop-filter: blur(5px);
    background-size: cover;
    background-repeat: no-repeat;
}
.bidaya{
    display: flex;
    /* background-color: #F4694C; */
    align-items: center;
    gap: 10vw;
    /* width: 90%; */
    /* position:absolute; */
    /* position:fixed; */
    /* min-width: 50vw; */
    justify-content: space-between;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    
}
.bidaya input{
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgb(241, 241, 241);
    padding: 5px;
}
#pages_container{
    display: flex;
    justify-content: space-between;
    gap:2vw ;
    width: 65%;
    align-items: center;
    font-size: min(1vw,1rem);
    font-size: 16px;
    
}
.nav_container{
    display: flex;
    /* justify-content: space-between; */
    gap: 4vw;
    list-style: none;

}
.nav_container a{
    color: #fff;
    text-decoration: none;
    
}
.nav_container a:hover{
    color: #F4694C;
}
#nav_buttons{
    width: 10%;
    align-items: center;
    
}
.nav_image{
    height: 100px;
    width:auto; 
}



.nav_button:hover{
    background-color: #ca563f;
}
.nav_button{
    background-color: #F4694C;
    color: white;
    padding:  5px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    /* margin-right: 5px; */
}
.profile_img{
    width: 40px;
    height: auto;
}
@media(max-width:600px){
    .bidaya{
        justify-content: left;
        padding: 0;
    }

}

.header-book{
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.151);
    color: white;
    font-weight: bold;
    padding: 10px;
    margin-top: 30px;
    cursor: pointer;
}
.header-book:hover{
    background-color: rgba(255, 255, 255, 0.486);
}

.hotelname{
    font-family: "Lobster Two", sans-serif;
    font-weight: bolder;
    font-style: italic;
    font-size:80px;
    color: white;
    -webkit-text-stroke: 0.4px #F4694C;
    
}
.welcome{
    color: white;
    /* font-family: "Madimi One", sans-serif; */
    font-family: "Poppins", "sans-serif";
    font-size: xx-large;
    font-weight: bolder;

    -webkit-text-stroke: 0.5px rgb(209, 136, 0);

}
.div2{
    display: flex;
    justify-content:center;
    /* margin-left: 100px; */
    /* margin-top: 3%; */
    /* background-color: #f4684c31; */
    margin-left: 0;
    padding: 8% 10%;
    overflow: hidden;
}

.div2-image2-div{
    width: 500px;
    margin-left: 10px;
 
}

.div2-image1-div{   
    width: 500px;
   
    
    
    
}

.div2-image1{
    width: 100%;
    height: 100%;
}
.div2-image2{
    width: 100%;
    height: 90%;
}


.before-header{
    padding-left: 15vw;
    padding-top: 15vh;

}
.hotel-caption{
    color: white;
    font-size: "Poppins", "sans-serif";
    font-size: xx-large;
    -webkit-text-stroke: 0.1px #F4694C;

}

.about-home{
    width: 60vw;
    padding:0 5vw;
    /* padding-top: 0; */
}
.about-title{
    margin-top: 20px;
    font-family: "Lobster Two", sans-serif;
    font-style: italic;
    font-size: 50px;
}
.about-description{
    font-size: 20px;
    font-family: "Poppins", sans-serif;
}


.choose-lorem-text-div{
    font-size: 13px;
    width: 500px;
}
.choose-lorem-title-div{
    font-size: 16px;
    font-weight: 500;
}

.choose-flexbox{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.choose-make-go{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.traveler-text-div-title{
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 40px;
    width: 400px;
    line-height: 50px;
}

.traveler-flexbox{
    display: flex;
    padding-top: 40px;

}

.traveler-div-title-div{
    color: #F4694C;
    font-size: 20px;
}

.traveler-div{
    padding: 0 5vw;
    height: 100vh;
    font-family: "Poppins", sans-serif;
    background-color: #f4684c65;
    overflow: hidden;
   
    
}
.guide-btn{
    font-weight: bold;
    background-color: white;
    color: #F4694C;
    border: 1px solid #F4694C;
    padding:10px 5px;
    width: 50%;
    border-radius: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.travaler-pic{
    width: 75%;
    height: 75%;
    /* border-radius: 25%; */
    box-shadow: 6px 6px 16px;
    
}

.traveler-pic-div{
    padding: 10px 20px;
    align-items: center;
    display: flex;
    justify-content: center;
}

.choose-icon{
    width: 50px;
    height: 50px;
}

.choose-icon-div{
    padding: 5px 20px;
}




.choose-make-go-div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.div3{
    font-family: Roboto;
    font-size: 26px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F4694C;
    color: white;
    margin: 25vh 0;
    height: 100px;
    overflow: hidden;
}

.div4{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
    overflow: hidden;
}

.offer-cell{
    height: 400px;
    border-radius: 30px;
    border: none;
    width: 270px;
    background-color: rgb(243, 247, 250);
}

.offer-image{
    height: 250px;
    width: 100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.offer-cell-details{
    padding-left: 10px;
    
}

.offer-cell-details-1{
    padding-top: 15px;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
}

.offer-cell-details-2{
    display: flex;
}

.offer-cell-details-3{
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    
}

.offer-cell-details-3-button{
    width: 100px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
    background-color: #F4694C;
    font-family: Roboto;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 40px;
    font-weight: 500;
    margin-right: 10px;
   

}

.point{
    background-color: rgb(58, 54, 54);
    border-radius: 50%;
    width: 20px;
}


.nouveauteetcommentaires{
    /* margin-top: 100px; */
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    display: flex;
    justify-content: center;
}

.upper-part-commentary{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.commmentary-profile-photo{
    border-radius: 50%;
    width: 50px;
}

.commmentary-cell{
    width: 400px;
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px  5px   rgb(238, 238, 238);
    margin-top: 20px;
}

.lower-part-commentary{
    font-family: Roboto;
    font-style: italic;
   
}

.commmentary-review-stars{
    color: orange;
    font-family: Roboto;
}

.commentator-details{
    display: flex;
    align-items: center;
    
}

.commentator-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}

.div6{
    display: flex; 
    justify-content: space-between;
    margin: 80px 10vw;
    flex-wrap: wrap;
}

.viewallreviews{
    color: orange;
    font-family: Roboto;
    font-weight: 500;
    font-size: 20px;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    
}

.view-more-options{
    padding: 8px;
    width: 20vw;
    font-weight: bold;
    color: white;
    background-color: #F4694C;
    border-radius: 15px;
    box-shadow: 4px 6px 20px rgba(0, 0, 0, 0.377);
    border: 2px solid white;
    justify-self: center;
    margin: 50px 39vw;
    /* margin-bottom: 0; */
}
.hidden{
    opacity: 0;
    transition: all 0.5s;
    filter: blur(5px);
    transform: translateY(100%);
    

}
.hidden2{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    /* transform: translateX(100%); */
    transform: translateY(-50%);
    

}
.hidden3{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transform: translateY(50%);
    

}
.hidden4{
    opacity: 0;
    transition: all 1s;
    filter: blur(5px);
    transform: translateX(100%);
    /* transform: translateY(50%); */
    

}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translate(0);
    
}

.card .img img{
    /* width: 220px; */
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 15px 15px 0 0;
}
.carousel .card {
    list-style: none;
    background-color: white;
    border-radius: 15px;
    height: 220px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin: 10vh 0;
    border: #F4694C 1px solid;
    cursor: pointer;
    
}
.carousel .card:hover{
    height: 222px;
    box-shadow: 6px 8px 10px rgba(0, 0, 0, 0.185);
}
.wrapper .carousel{
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4.5) - 12px);
    gap: 15px;
    padding-left: 20px;
    overflow-x: auto;
    width: 100%;
    scroll-behavior: smooth;
    
}
.carousel::-webkit-scrollbar{
    display: none;
}
.wrapper{
    margin: 0 5vw;
    max-width: 1200px;
    width: 90vw;
    position: relative;
    height: 100vh;
    
}

.wrapper i{
    height: 40px;
    width: 40px;
    background-color: #F4694C;
    color: white;
    /* font-weight: ; */
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 55%;
    transform: translateY(-50%);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.473);
    font-family: "Poppins", "sans-serif";
}
.wrapper i:first-child{
    left: -22px;
}
.wrapper i:last-child{
    right: -22px;
}
@media screen and (max-width:900){
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 3) - 10px);
    }
}
@media screen and (max-width:700){
    .wrapper .carousel {
        grid-auto-columns: calc((100% / 2) - 8px);
    }
}
@media screen and (max-width:500){
    .wrapper .carousel {
        grid-auto-columns: 100%;
    }
}

.wrapper-title{
    font-family:"Poppins", "sans-serif" ;
    padding-top: 40px;
    color: white;
    -webkit-text-stroke: #F4694C 2px;
    font-size: 35px;
}