body{
    /* height: 5000px  ; */
    font-family: Roboto;
    margin: 0;
}

.header{
    display: flex;
    flex-direction: row;
    background-color: orangered;
    height: 70px;
    align-items: center;
}
.element{
    font-family: Roboto;
    font-size: 16px;
    color: white;
    font-weight: 500;
}

.header-button{
    width: 100px;
    color: white;
    font-size: 16px;
    border-radius: 5px;
    border-color: white;
    background-color: orangered;
    font-family: Roboto;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    height: 30px;
    font-weight: 500;
    margin-left: 20px;
    margin-right: 10px;

}


.edit-profile-text-div{
    font-family: Roboto;
    font-size: 55px;
    font-weight: 500;
    color: orangered;
    padding-left: 100px;
    padding-top: 40px;
}



.main-div{
    padding-left: 100px;
    padding-top: 200px;
    display: flex;
}

.profile-photo-div{
    padding-left: 100px ;
    flex: 1;
    padding-top: 100px;
    
}


.profile-photo{
    border-radius: 50%;
    width: 200px;
    flex-shrink: 0;
}



.infos-edit-div{
    margin: 50px 50px  ;
    border-width:thin;
    border-radius: 25px;
    flex: 2;
}

.user-details-text-div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto;
    font-size: 40px;
    font-weight: 500;
    color:orangered;
}

.details-div{
    padding-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr ;
    column-gap: 20px;
     row-gap: 30px;
   
}









.firstname-lastname-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.name-text{
    font-family: Roboto;
    font-weight: 500;
    font-size: 30px;
    color: orangered;
    padding-left: 10px;  
}

.inputSpace-div{
    padding-top: 10px;
}

.inputSpace{
    border: none;
    height: 50px;
    width: 200px;
    font-size: 20px;
    padding-left: 8px;
    
}

input:focus{
    outline: none;
}


.change-button-div{
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.change-button{
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500px;
    background-color: orangered;
    border: none;
    width: 200px;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}
