
.flogo{
    height: 100px;
    width: auto;
    background-color: black;
}
.fb1{
    display: flex;
    justify-content: space-around;
    font-family: "Poppins", sans-serif;

    background-color: white;
    padding: 5% 0;
}
.fbutton{
    background-color: #F4694C;
    color: white ;
    font-weight: bold;
    padding: 15px;
    border: 0;
    margin-left: 0;
}
.fmail{
    padding: 14px;
    margin-top: 20px;
    margin-right: 0;
    border:1px solid #F4694C;
    border-right: 0;
}
.felm{
    justify-content: center;
    align-items: center;
}
.felm1{
    line-height: 50px;

}
.felm ul{
    list-style: none;
}
.footer_links{
    padding: 0;
}
.felm ul li a{
    text-decoration: none;
    color: gray;
}
.copyright{
    text-align: center;
    color: #000;
    background-color: #F4694C;
    margin: 0;
    padding: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
#line{
    margin: 0;
}


.contact_icons{
    display: flex;
    list-style: none;
    height: 120px;
    padding-top: 25px;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    height: 60px;
}
.contact_icons .icon{
    position: relative;
    background: #fff;
    border-radius: 50%;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.199);
    cursor: pointer;
}
  
.contact_icons .illi_bach_yatla3{
    position: absolute;
    top: 0;
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 8px 10px 8px rgba(0, 0, 0, 0.301);
    opacity: 0;
    }


.fab img{
    height: 50px;
    height: 50px;
    margin: 2px;
}
@media (max-width: 600px){
    #pages{
        display: none;
    }
    .fmail{
        border-right: 1px solid #F4694C;
    }

}
  