.bidaya{
    display: flex;
    background-color: #F4694C;
    align-items: center;
    gap: 10vw;
    /* width: 90%; */
    /* position:absolute; */
    /* position:fixed; */
    /* min-width: 50vw; */
    justify-content: space-between;
    padding: 0 5%;
    font-family: "Poppins", sans-serif;
    font-weight: bolder;
    
}
.bidaya input{
    border-radius: 15px;
    border: 2px solid white;
    background-color: rgb(241, 241, 241);
    padding: 5px;
}
#pages_container{
    display: flex;
    justify-content: space-between;
    gap:2vw ;
    width: 65%;
    align-items: center;
    font-size: min(1vw,1rem);
    font-size: 16px;
    
}
.nav_container{
    display: flex;
    /* justify-content: space-between; */
    gap: 4vw;
    list-style: none;

}
.nav_container a{
    color: #fff;
    text-decoration: none;
    
}
.nav_container a:hover{
    text-decoration: underline white;
}
#nav_buttons{
    width: 10%;
    align-items: center;
    
}
.nav_image{
    height: 90px;
    width:auto; 
}



.nav_button:hover{
    background-color: #ca563f;
}
.nav_button{
    background-color: #F4694C;
    color: white;
    padding:  5px;
    width: 80px;
    border: 1px solid white;
    border-radius: 5px;
    /* margin-right: 5px; */
}
.profile_img{
    width: 40px;
    height: auto;
}
@media(max-width:600px){
    .bidaya{
        justify-content: left;
        padding: 0;
    }

}