body{
    margin: 0;
    padding: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.page_container{
    padding: 10% 10% 0;
}

.hotel_name{
    margin-bottom: 0;
    margin-top: 0;
    
}
.hotel_place{
    margin-top: 0;
}
.hotel_title{
    margin-bottom: 5%;
    margin-left: 3%;
}
.page_navbar{
    margin-bottom: 3%;
}
.page_navbar ul{
    display: flex;
    align-items: center;
    gap: 3%;
    list-style: none;

}
.page_navbar ul li a{
    color: rgb(48, 48, 48);
    text-decoration: none;
}
.page_navbar ul li a:hover{
    text-decoration: underline  rgb(48, 48, 48);
}
.imgblock{
    width: 60vw;
    /* height: 40vw; */
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    padding: 0 10%;
}
.main_img{
    flex-grow: 3 ;
    width: 70%;
    height: auto;
}
.imgblock img{
    flex-grow: 1  ;
    width: 20%;
    height: auto;
    margin: 5px;
}
.hotel_discription{
    padding: 5%;
}

.hotel_page_element{
    padding: 5% 5% 0 5%;
}

.service_container{
    display: flex;
    gap: 3%;
    margin: 20px 0;

}

.hotel_serv{
    display:flex;
    gap: 10%;
    align-items: center;
    border: 1px solid gray;
    width: 30%;
    border-radius: 15px;
    padding:0 10px;
}

.hotelprix{
    width: 90%;
    border-collapse: collapse;
    /* border: 1px solid #F4694C; */
    border-radius: 10px;
}
.hotelprix td{
    border-bottom: 1px solid #F4694C;
    height: 50px;
    align-items: center;
    padding: 1%;
}
.room_type{
    margin-left: 3%;
}
.hotel_select{
    padding: 5px;
    background-color: rgb(252, 207, 156);
    font-weight: bold;
    border-radius: 5px;
    color: black;
    cursor: pointer;

}
.price{
    font-weight: bold;
    /* color: rgb(26, 49, 252); */
}
.hotelprix td button{
    background-color:#F4694C;
    padding: 8px;
    width: 80%;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.contelm{
    display: flex;
    align-items: center;
}
.contacts{
    display: flex;
    gap: 20%;
    margin: 5% 0;
}
.map-container{
    display: flex;
    justify-content: center;
}

.upper-part-commentary{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-bottom: 20px;
}

.commmentary-profile-photo{
    border-radius: 50%;
    width: 50px;
}

.commmentary-cell{
    /* width: 400px; */
    height: 200px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    border-radius: 20px;
    box-shadow: 2px 2px 10px  5px   rgb(238, 238, 238);
    margin-top: 10px;
}

.lower-part-commentary{
    font-family: Roboto;
    font-style: italic;
   
}

.commmentary-review-stars{
    color: orange;
    font-family: Roboto;
}

.commentator-details{
    display: flex;
    align-items: center;
    
}

.commentator-name{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
}
.star{
    width: 24px;
    height: auto;
    padding: 0;
    margin: 0;
}
