body{
    margin: 0;
    border: 0;
    /* height: 2000px; */
    position:absolute;
    position: relative;
    background-image: url(../images/reception.webp);
    background-size: cover;
    background-repeat: no-repeat;
    
    
}
.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 98.5%;
    margin-top: 3vh ;

}
.upperpart{

    background-repeat: no-repeat;
    /* height:1000px; */
    background-size: cover;
    position: absolute;
    position: relative;
    padding: 8% 10% ;
    margin:0;
    /* width: 30vw; */
    background-color: rgba(0, 0, 0, 0.342);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    box-shadow: 6px 8px 10px rgba(255, 255, 255, 0.349),6px 8px 10px rgba(255, 255, 255, 0.336);

}
.title{
    color: white;
    font-family: Jacques Francois;
    font-size: 60px;
    position: absolute;
    position: relative;
    margin:0;
}
.email{
    position: absolute;
    position: relative;
    color: white;
    font-family: Jacques Francois;
    font-size: 25px;
}

.inputBox{
    
    position:absolute;
    position: relative;
    border: none;
    height: 40px;
    width: 200px;
    opacity: 0.4;
    border-radius: 5px;
}

.login{
    margin-top: 20px;
    position:absolute;
    position: relative;
    color: white;
    font-size: 18px;
    background-color: #F4694C;
    border: none;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}
.to_signup{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}
.to_signup:hover{
    text-decoration: underline white;
}
.to_signup:visited{
    color: blue;
    text-shadow:  white;
}
.to_signup:visited:hover{
    text-decoration: underline blue;
}
.to_signup:active{
    color: red;
}
.retour{
    background-color: #F4694C;
    position: absolute;
    bottom: 40px;
    border-radius: 50%;
    color: white;
    cursor: pointer;
    font-weight:900;
    font-size:x-large;
    width: 40px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 10px;
}
